page-home {

}
.canvas-container {
	margin: 0px auto;
}

.brush-container {


}
.range-container {
	width: 80%;
}

.color-container {
	
	width: 100%;
	top: 25px;
	left: 25px;	
}

.brush-icon {
    font-size: 30px !important;
    padding: 0px 0px !important;
}

.color-items {
	display: table;
    margin: 0px auto;
}
